/* Font styles downloaded from google-webfonts-helper at https://gwfh.mranftl.com/fonts */
/* roboto-mono-regular - vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Roboto Mono';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/roboto-mono-v22-vietnamese_latin-ext_latin_greek_cyrillic-ext_cyrillic-regular.svg#RobotoMono') format('svg'); /* Legacy iOS */
}

/* open-sans-regular - vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/open-sans-v34-vietnamese_latin-ext_latin_hebrew_greek-ext_greek_cyrillic-ext_cyrillic-regular.svg#OpenSans') format('svg'); /* Legacy iOS */
}

/* merriweather-regular - vietnamese_latin-ext_latin_cyrillic-ext_cyrillic */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Merriweather';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/merriweather-v30-vietnamese_latin-ext_latin_cyrillic-ext_cyrillic-regular.svg#Merriweather') format('svg'); /* Legacy iOS */
}

/* sorts-mill-goudy-regular - latin-ext_latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Sorts Mill Goudy';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.eot'); /* IE9 Compat Modes */
    src: url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
         url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.woff') format('woff'), /* Modern Browsers */
         url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
         url('./fonts/sorts-mill-goudy-v15-latin-ext_latin-regular.svg#SortsMillGoudy') format('svg'); /* Legacy iOS */
}

@font-face {
    font-display: swap;
    font-family: 'Helvetica';
    font-style: normal;
    font-weight: 400;
    src: url('./fonts/helvetica.ttf') format('truetype'), /* Safari, Android, iOS */
}

@media only screen and (min-width: 551px) {
    .warningUnsupported {
        display: none;
    }
}

@media only screen and (max-width: 1100px) {
    .navbarNav {
        margin: 0 0 0 0 !important;
    }
    .containerCreation {
        display: block !important;
        min-width: unset !important;
    }
}

@media only screen and (max-width: 550px) {
    header, main, footer {
        display: none;
    }
    .warningUnsupported {
        height: 100vh;
        display: block;
    }
}

body {
    background: linear-gradient(90deg, rgba(240,192,238,1) 0%, rgba(245,245,220,1) 33%, rgba(252,187,94,1) 100%);
    margin: 0;
    padding: 0;
}

button {
    margin-left: 7px;
}

fieldset {
    border: 2px solid rgb(41, 210, 41);
    border-radius: 8px;
}

footer {
    border-top: 3px solid black;
    margin-top: 5rem;
    height: 20rem;
    width: 100%;
    background: linear-gradient(178deg, rgba(0,0,0,1) 5%, rgba(149,142,205,1) 70%, rgba(255,205,172,1) 100%);
    display: block;
    text-align: center;
}

main {
    padding-top: 5rem;
}

.container {
    min-height: 1200px;
    display: flex;
    justify-content: center;
    margin-bottom: 200px;
}

.containerCreation {
    display: flex;
    justify-content: end;
    overflow: auto;
    min-width: 1400px;
}

.designPanelGrid {
    display: grid;
}
.designPanelItemA, .designPanelItemB, .designPanelItemC, .designPanelItemD {
    padding-top: 5px;
}

.designPanelItemA {
    grid-row: 3;
    grid-column: 1;
    text-align: center;
}

.designPanelItemB {
    grid-row: 1;
    grid-column: 1 / span 5;
}

.designPanelItemC {
    grid-row: 2;
    grid-column: 1 / span 5;
}

.designPanelItemD {
    grid-row: 3;
    grid-column: 5;
}

.exampleLink {
    text-decoration: none;
    color: black;
    text-align: center;
    padding: 4%;
}

.fancyBtn {
    position: relative;
    border: none;
    font-size: 14px;
    color: #FFFFFF;
    padding: 2px;
    width: 100px;
    height: 24px;
    border-radius: 5px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    cursor: pointer;
}

.fancyBtn:hover {
    background-color: gold;
    color: black;
}

.fancyBtn:after {
    content: "";
    background: #f1f1f1;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px !important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}
  
.fancyBtn:active:after {
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.fancyBtnDetails {
    background-color: rgb(17, 120, 155);
}

.fancyBtnDesign {
    background-color: #4CAF50;
}

.fancyBtnMain {
    background-color: rgb(154, 42, 42);
}

.gridColOne {
    height: 1122px;
    grid-column: 1;
    background-color: black;
    justify-items: center;
    color: white;
}

.gridColOneMarginControl {
    height: 1120px;
    margin-left: 10px;
    margin-right: 10px;
}

.gridColTwo {
    height: 1122px;
    grid-column: 2;
    background-color: black;
}

.gridColTwoMarginControl {
    height: 1100px;
    padding: 10px;
}

.horizontalLineDetails {
    justify-self: center;
    background-color: rgb(255, 255, 255);
    width: 90%;
    height: 1.5px;
    line-height: 80%;
}

.horizontalLineMain {
    justify-self: left;
    background-color: rgb(0, 0, 0);
    width: 100%;
    height: 2.5px;
    line-height: 80%;
}

.img {
    height: 150px;
    width: 150px;
    visibility: hidden;
}

.imgContainer {
    margin-top: 50px;
    display: grid;
}

.lineController {
    display: grid;
}

.miniBlock {
    padding: 7px;
    margin-bottom: 5px;
    border-radius: 5px;
}

.navbar {
    z-index: 100;
    height: 3rem;
    width: 100%;
    position: fixed;
    background: linear-gradient(90deg, rgba(153,141,240,1) 0%, rgba(224,230,246,1) 25%);
}

.navbarNav:hover .navLinkText {
    visibility: visible;
}

.navbarNav {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0 0 0 10rem;
    justify-content: center;
}

.navItem {
    width: 100%;
}

.navRow {
    width: 100%;
    max-width: 76rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
}

.navLink {
    display: flex;
    align-items: center;
    height: 3rem;
    color:rgb(0, 0, 0);
    text-decoration: none;
}

.navLink svg {
    min-width: 2rem;
    margin: 1rem;
}

.navLinkText {
    visibility: hidden;
    font-family: "Open Sans", Arial, sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    margin-left: 1rem;
    margin-right: 1rem;
}

.navSvg {
    height: 80%;
}

.navSvg:hover {
    fill: rgb(128, 9, 128);
    transition-delay: 50ms;
}

.logo {
    background-image: radial-gradient(circle, rgba(63,94,251,1) 0%, rgb(145, 52, 145) 100%);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 35px;
}

.logoBeta {
    background-image: linear-gradient(178deg, rgba(0,18,255,1) 5%, rgba(180,0,170,1) 57%, rgba(205,0,0,1) 100%);
    border-radius: 25px;
    display: inline-block;
    padding: 2px;
}

.logoBetaText {
    color: white;
    text-transform: uppercase;
    font-family: "Open Sans", Arial, sans-serif;
    font-weight: bold;
    font-size: 20px;
    padding: 2px;
}

.logoBlock {
    width: 10rem;
    align-items: center;
    display: flex;
}

.logoDeco {
    text-decoration: none;
}

.siteText {
    /* text-align: justify; */
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 1.75rem;
}

.slider {
    -webkit-appearance: none;
    appearance: none;
    width: 100%;
    height: 10px;
    background: #fffafa;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: #04AA6D;
    cursor: pointer;
}

.socialMediaButton {
    height: 50px;
}

.warningUnsupported {
    background-color: azure;
}

.warningUnsupported p {
    margin: 0;
    padding: 5%;
    font-size: 1.5rem;
}

.warningUnsupportedInner {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
}

.wrapperPreview {
    display: grid;
    max-width: 76rem;
    grid-template-columns: repeat(6, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "a a b b b b"
    "a a b b b b"
    "a a b b b b"
    "c c c c c c"
    "d d e e f f"
    "g g h h i i";
}

.wrapper {
    display: grid;
    max-width: 76rem;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    grid-auto-rows: minmax(100px, auto);
    grid-template-areas:
    "a a"
    "b c"
    "d e"
    "f g"
    "h h"
    "i j";
}

.wrapperBackground {
    background-color: rgba(224, 199, 199, 0.5);
    border-radius: 25px;
    margin: 2rem;
    padding: 1rem;
}

.wrapperBackgroundWarning {
    background-color: rgba(208, 156, 23, 0.5);
    border-radius: 25px;
    margin: 2rem;
    padding: 1rem;
    border: 2px dotted red;
}

.wrapperImg {
    height: 90%;
    width: 90%;
    object-fit: contain;
    border-radius: 30px;
    box-shadow: 10px 5px 5px rgb(18, 18, 18);
}

.wrapperImgPreview {
    height: 90%;
    width: 90%;
    object-fit: contain;
}

.wrapperImgPreviewExampleCV {
    height: 50%;
    width: 50%;
    object-fit: contain;
}

.wrapperImgPreviewExampleCV:hover {
    fill: rgb(128, 9, 128);
    transition-delay: 50ms;
}

.wrapperItemA {
    grid-area: a;
}

.wrapperItemB {
    grid-area: b;
}

.wrapperItemC {
    grid-area: c;
}

.wrapperItemD {
    grid-area: d;
}

.wrapperItemE {
    grid-area: e;
}

.wrapperItemF {
    grid-area: f;
}

.wrapperItemG {
    grid-area: g;
}

.wrapperItemH {
    grid-area: h;
}

.wrapperItemI {
    grid-area: i;
}

.wrapperItemJ {
    grid-area: j;
}

.wrapperGeneric {
    display: flex;
    align-items: center;
    justify-content: center;
}

.userInputs {
    float: right;
    display: flex;
    background: radial-gradient(circle, rgba(63,94,251,1) 0%, rgba(221,160,221,1) 100%);
    justify-content: space-around;
    padding: 10px;
    border-radius: 25px 0 0 25px;
    font-family:  Arial, Helvetica, sans-serif;
}

.userInputs h2 {
    padding: 10px;
    margin: 0px;
}

.userInputsDesign {
    background-color: lightgreen;
    flex-grow: 1;
    margin: 10px 25px;
    border-radius: 25px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.userInputsDesign .miniBlock {
    background-color: rgb(114, 231, 114);
}

.userInputsDetails {
    background-color: lightblue;
    flex-grow: 1;
    margin: 10px 25px;
    border-radius: 25px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.userInputsDetails .miniBlock {
    background-color: rgb(149, 200, 233);
}

.userInputsDetailsInner, .userInputsMainInner{
    overflow: auto;
    max-height: 400px;
}

.userInputsDetailsInner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightblue;
}

.userInputsDetailsInner::-webkit-scrollbar-thumb {
    background: rgb(91, 179, 238);
}

.userInputsDetailsInner::-webkit-scrollbar-thumb:hover {
    background: rgb(26, 127, 195);
}

.userInputsExport {
    background-color: rgb(235, 230, 98);
    flex-grow: 1;
    margin: 10px 25px;
    border-radius: 25px;
    padding: 8px;
}

.userInputsHeading {
    display: grid;
    align-items: center;
}

.userInputsHeadingLeft {
    grid-row: 1;
    justify-self: flex-start;
}

.userInputsHeadingRight {
    grid-row: 1;
    justify-self: flex-end;
}

.userInputsMain {
    background-color: lightcoral;
    flex-grow: 1;
    margin: 10px 25px;
    border-radius: 25px;
    padding-bottom: 8px;
    padding-left: 8px;
    padding-right: 8px;
}

.userInputsMain .miniBlock {
    background-color:  rgb(232, 103, 103);
}

.userInputsMainInner::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px lightcoral;
}

.userInputsMainInner::-webkit-scrollbar-thumb {
    background: rgb(235, 84, 84);
}

.userInputsMainInner::-webkit-scrollbar-thumb:hover {
    background: rgb(221, 34, 34);
}



.userOutputs {
    height: 1122px;
    width: 793.7px;
    display: grid;
    grid-template-columns: 30% 70%;
    background-color: lightpink;
}

.userOutputs h2, h3, h4, h5 {
    font-weight: 400;
}

.userOutputsDecorator {
    height: 1122px;
    border: 1px solid black;
    box-shadow: 10px 10px 5px 5px rgb(0 0 0 / 20%);
}

.userOutputs h1 {
    margin: 0;
    font-size: 40px;
}

.userOutputs h3, h4 {
    margin-top: 3px;
    margin-bottom: 3px;
}

.userOutputs li {
    display: inline;
    margin-left: 10px;
    
}

.userOutputs li::before {
    content: "\2022\00A0";
}

.userOutputs p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.userOutputs ul {
    margin: 7px 0;
    padding: 0;
}

.userOutputsOuter {
    height: 1200.51px;
    padding-top: 25px;
    min-width: 900px;
    flex-grow: 1;
    display: inline-flex;
    justify-content: center;
    background-color: inherit;
}

#exportHeading {
    display: inline;
}

#userInputsDetailsSectionBtns, #userInputsMainSectionBtns {
    background-image: repeating-linear-gradient(
    -55deg,
    #000,
    #000 20px,
    transparent 20px,
    transparent 40px
    );
}

#usernameOut {
    font-size: 25px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

#outputDetailsKey {
    white-space: pre-line;
    display: none;
    margin-left: 13px;
}

#outputDetailsTitle {
    text-align: center;
}

#outputMainProfile {
    white-space: pre-line;
    display: none;
}

::-webkit-scrollbar {
    width: 7px;
}
  
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px plum;
    border-radius: 10px;
}
   
::-webkit-scrollbar-thumb {
    background: rgb(211, 104, 211);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgb(203, 33, 203);
}